
.wrapper {
  display: flex;
  position: relative;
  min-height: 100vh;
  max-width: 1920px;
  margin: 0 auto;
}
//holder
.holder {
  max-width: 1920px;
  background-image:   url("../images/banner.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  margin: 0 auto;
  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: $black;
    opacity: 0.5;
  }
}

//header
.header {
  position: fixed;
  //top: 0;
  //left: 0;
  width: 100%;
  max-width: 1920px;
  z-index: 3;
  height: 50px;
  .btn-menu {
    display: flex;
    justify-content: flex-end;
    position: relative;
    button {
      background-color: transparent;
      i {
        font-size: 1rem;
      }
      &:hover {
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
  }

  .show-menu {
    opacity: 0;
    position: absolute;
    top: 30px;
    right: 0px;
    max-width: 150px;
    width: 100%;
    text-align: center;
    ul {
      background-color: $light-violet;
      list-style: none;
      padding: 0;
      li {
        padding: 5px 0;
        border-bottom: 1px solid $dark-violet;
        transition: background-color .3s;
        &:hover {
          background-color: $dark-violet;
        }
      }
    }
  }
  .show {
    transition: opacity .3s;
    opacity: 1;
  }
}

.main{
  width: 100%;
  z-index: 2;
  &__container {
    display: flex;
    flex-direction: column;
    //justify-content: center;
    align-items: center;
    min-height: 100vh;
    //padding-bottom: 970/1920*100%;
  }
}
//block-center

.block-center {
  display: flex;
  flex-grow: 1;
  color: $white;
  &__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__title {
    display: inline-block;
    font-size: 1.89rem;
    letter-spacing: 0.69rem;
    line-height: 2;
    font-weight: 700;
    text-transform: uppercase;
    border-top: 2px solid $white;
    border-bottom: 2px solid $white;

    span {
      display: inline-block;
      padding: 0 1.25rem;
    }
  }

  &__text {
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.250rem;
    max-width: 365px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    padding: 2.5em 0;
  }

}

//more
.more {
  display: block;
  text-align: center;
  padding-top: 1.5rem;
  color: $white;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.225em;
  line-height: 1;
  text-decoration: none;
i {
    display: block;
    padding: 20px 0;
  }
}

//section
.section {
  z-index: 2;
  width: 100%;
  background-color: $green;

  &__icons {
      max-width: 437px;
      margin: 0 auto;
    text-align: center;
      list-style: none;
      padding: 0;

      li {
        display: inline-block;
        position: relative;
        //padding: 2px;
        &:not(:last-child) {
          margin-right: 2rem;
          @media screen and (min-width: 576px) {
            margin-right: 3.75rem;
          }
        }


        &::before {
          position: absolute;
          content: "";
          display: inline-block;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          border: 1px solid $dark-green;
          transform: rotate(45deg);
        }
        span {
          display: inline-block;
          font-size: 1.88rem;
          color: $light-green;
          padding: 0.62rem;

        }
      }
    }

}

//section-row
.section-row {
  &__item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background: linear-gradient(to bottom, $grey, $light-grey);
    &:nth-child(even){
      flex-direction: row-reverse;
      @media screen and (min-width: 576px) {
        flex-wrap: wrap;
      }
    }
  }
  &__img {
    max-width: 767px;
    width: 40%;
    img {
      min-width: 100%;
      min-height: 100%;
      object-fit: cover;
    }
  }

  &__textbox {
    max-width: 792px;
    width: 60%;
    padding: 2rem;
    box-sizing: border-box;
    @media screen and (min-width: 576px) {
      padding: 6.25rem 1.25rem 0 5rem;
    }
  }
}

//category

.category {
  background-color: $light-violet;
  padding: 3rem 0 0 0;
  @media screen and (min-width: 576px) {
    padding: 7.81rem 0 6.88rem;

  }
  &__content {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1.87rem;
    margin: 0 auto;
    @media screen and (min-width: 576px) {
      flex-direction: row;
    }
  }
  &__inner {
    padding: 2.5rem 1rem;
    text-align: center;
    @media screen and (min-width: 576px) {
      padding: 6rem 4rem;
    }
  }
  &__title {
    display: inline-block;
    line-height: 1.75;
    text-transform: uppercase;
    letter-spacing: 0.225em;
    font-weight: 800;
  }
  &__text {
    font-weight: 300;
    letter-spacing: 0.075em;
    line-height: 1.2;

  }
  &__item {
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    border-bottom: 1px solid $dark-blue;
    @media screen and (min-width: 576px) {
      width: 50%;
      border-bottom: 1px solid transparent;
    }
    span {
      display: block;
      vertical-align: middle;
      font-size: 1.5em;
      color: $light-green;
      padding-bottom: 1.87rem;
      @media screen and (min-width: 734px) {
        display: inline-block;
        padding-bottom: 0;
        padding-right: 1.87rem;
      }
    }

    @for $i from 1 through 6 {
      &:nth-child(#{$i}) {
        background-color: rgba(63, 65, 115, $i / 6);
      }
    }

  }
}


//aside
.aside {
  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    box-sizing: border-box;
    @media screen and (min-width: 576px) {
      flex-direction: row;
      padding: 4rem;
    }
  }
  &__center {
    max-width: 493px;
    width: 100%;
    text-align: left;
  }
  &__buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    & * {
      margin-top: 1rem;
      @media screen and (min-width: 576px) {
        margin-top: 0;
      }
    }

  }
}

//foorer

.footer {
  background-color: $black;
  padding: 3.4rem 0;
  opacity: .5;
  @media screen and (min-width: 576px) {
    padding: 6.88rem 0;
  }
  &__inner {
    max-width: 1160px;
    width: 100%;
    color: $white;
    font-size: 1.5rem;
    margin: 0 auto;
    text-align: center;
    @media screen and (min-width: 576px) {
      font-size: 1.25rem;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      &:first-child {
        padding-bottom: 3.75rem;
      }
      li {
        display: inline-block;
        color: $white;
        transition: color 0.3s;

        a:hover {
          color: $dark-green;
        }
      }
    }
  }
  &__social {
    li {
      &:not(:last-child){
        padding-right: 1.88rem;
        &:hover {

        }
      }
    }
  }
  &__copyright {
    li {
      &:not(:last-child){
        display: block;
        padding-right: 0.94rem;
        border-right: 0;
        @media screen and (min-width: 576px) {
          border-right: 1px solid $white;
          display: inline-block;
        }
      }
      &:not(:first-child){
        padding-left: 0.94rem;
      }
    }
  }

}







@media screen and (max-width: 576px) {
  .section-row {
    &__img,
    &__textbox {
      width: 100%;
    }

  }
}

