//color

$white: #fff;
$black: #000;
$red: #ed4933;
$deep-red: #eb260b;
$light-green: #00fecc;
$green: #20b3a6;
$dark-green: #1c9d91;
$light-grey: #393b41;
$grey: #2b343d;
$light-violet: #505393;
$violet: #3f4173;
$dark-violet: #464981;
$dark-blue: #2b343d;





